@import 'reset.css';
body {
	padding: 25px;
	font-family: Tahoma, Verdana, Arial;
	background: #f6f6f6;
}
div#logo {
	width: 270px;
	height: 150px;
	background-image: url('../resimler/logo.png');
}
div#container {
    margin: 0 auto;
}
div#admin-login-container {
	width: 40%;
    margin: 10% auto;
}
h1.samymy-com {
	color: A0AB20;
	font-family: Verdana;
	font-weight: normal;
	font-size: 24pt;
	padding: 15px;
	margin: 5px;
}
div#admin-login-form {
	float: center;
	text-align: center;
	position: fixed;
}
div#admin-login-form  h2 {
	font-weight: bold;
	font-family: Verdana, Arial;
	font-size: 18pt;	
}
div#admin-login-form  legend{
	font-weight: bold;
	font-family: Tahoma, Verdana, Arial;
	font-size: 12pt;	
}
div#admin-login-form  fieldset{
	border: 1px solid #cccccc;
	padding: 20px;
	margin: 20px;
	width: 320px;
}
div#admin-login-form  table tr td{
	padding: 5px;
}
div#admin-login-form  input[type=text], input[type=password]{
	padding: 5px;
	border-radius: 5px;
	font-size: 16px;
	font-weight: bold;
	color: #E0EF60;
	background: #9043a1;
	border-color: #9043a1;
}
div#admin-login-form  input[type=submit]{
	border-radius: 5px;
	color: #E0EF60;
	background: #9043a1;
	border-color: #9043a1;
	float: right;
	padding: 5px;
	font-size: 12pt;
}
div#admin-login-form  input[type=submit]:hover{
	border-radius: 5px;
	color: #EEF7A6;
	background: #B265C4;
	border-color: #B265C4;
	cursor: pointer;
}

div#nav-container {
	height: 50px;
	border-radius: 5px;
	background: #B265C4;
	border: 1px solid #9043a1;
}
div#nav-container  ul {
	display:inline-block;
	margin-top: 5px;
}
div#nav-container  ul  li {
	padding: 10px;
	display:inline-block;
}
div#nav-container  ul li a{
	color: #E0EF60;
	font-weight: bold;
	text-decoration: none;
}
div#nav-container  ul li a:hover{
	color: #EEF7A6;
	text-decoration: underline;
}
div#nav-container  ul li ul {
	background-color: #B265C4;
	border-bottom:1px solid #9043a1;
	border-radius: 10px;
	display: none;
	position: absolute;
	margin-left: -20px;
	z-index: 1;
}
div#nav-container  ul li ul li {
	display: block;
}
div#nav-container  ul li.parent:hover ul {
	display: block;
}
div.error, div.info, div.report, div.success, div.warning {

    font-family: Verdana, Arial;
    border: 1px solid;
	border-radius: 10px;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    display: block;
    margin-top:5px;
    width: 380px;
    position:relative;
    top:0;
    left:0;
}

div.info {

    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('../resimler/info.png');


}
div.success {

    color: #009900;
    background-color: #C2FF99;
    background-image: url('../resimler/success.png');

}
div.report {

    color: #8D24BB;
    background-color: #C4B2CC;
    background-image:url('../resimler/report.png');

}

div.warning {

    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../resimler/warning.png');

}
div.error  {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../resimler/error.png');

}
.info table,.info tr, .info td  {
    border: none;
    background-color: #BDE5F8;
}
.warning table,.warning tr,.warning td {
    border: none;
    background-color: #FEEFB3;
}
.error table, .error tr, .error td {
    border: none;
    background-color: #FFBABA;
}
.report table,.report tr,.report td {
    border: none;
    background-color: #C4B2CC;
}
.success table, .success tr, .success td {
    border: none;
    background-color: #C2FF99;
}
div#siparisler table, tr, td {
	padding: 5px;
}
div#siparisler th {
	font-weight: bold;
}
