@import 'reset.css';
body {
	font-family: Tahoma, Verdana, Sans-serif;
	min-height: 1024px;
	min-width: 768px;
}
div#background-left {
	position: fixed;
	background: url('../resimler/background.png');
	height: 100%;
	width: 50%;
	left: 0;
	background-color: #e6ebf2;
	z-index: -1;
}
div#background-right {
	position: fixed;
	background: url('../resimler/background.png');
	height: 100%;
	width: 50%;
	right: 0;
	background-color: #eec3dd;
	z-index: -1;
}
div#wrapper {
	position: absolute;
	margin: 2% 10%;
	border-radius: 10px;
	height: 96%;
	min-height: 1024px;
	width: 80%;
	min-width: 768px;
	background: #f6f6f6;
	opacity: .9;
	}
div#left-container {
	padding-top: 10px;
	position: absolute;
	float: left;
	width: 320px;
}
div#right-container {
	padding-top: 10px;
	position: absolute;
	float: right;
	left: 320px;
	width: 725px;
}
div#hakkimizda {
background: #9043a1;
border-radius:10px;
padding:10px;
color:#E0EF60;
width: 670px;
min-height: 200px;

}
 
div#hakkimizda img {
	float: right;
	border-radius:10px;
}
div#iletisim {
color:#E0EF60;
background: #9043a1;
border-radius:10px;
width:670px;
min-height:200px;
padding:10px;
}
div#genel {
color:#E0EF60;
background: #9043a1;
border-radius:10px;
width:670px;
min-height:200px;
padding:10px;
}
div#iletisim table {
margin-left:50px;
margin-top:20px;
color:#E0EF60;

}
div#header {
	height: 150px;
	background: url('../resimler/headerbg.png');
	background-repeat: no-repeat;
	background-position: 270px;
	border-radius: 10px;
}

div#logo {
	width: 270px;
	height: 150px;
	background-image: url('../resimler/logo.png');
}

div#nav-container {
	height: 50px;
	border-radius: 5px;
	background: #9043a1;
}
div#nav-container  ul {
	margin-left: 280px;
	margin-top: 5px;
	display:inline-block;
}
div#nav-container  ul  li {
	padding: 10px;
	display:inline-block;
}
div#nav-container  ul li a{
	color: #E0EF60;
	font-weight: bold;
	text-decoration: none;
}
div#nav-container  ul li a:hover{
	color: #EEF7A6;
	text-decoration: underline;
}
div#nav-container  ul li ul {
	background-color: #B265C4;
	border-bottom:1px solid #9043a1;
	border-radius: 10px;
	display: none;
	position: absolute;
	margin-left: -20px;
	z-index: 1;
}
div#nav-container  ul li ul li {
	display: block;
}
div#nav-container  ul li.parent:hover ul {
	display: block;
}
div#kategoriler {
	padding: 5px;
	margin: 5px;
	max-width: 270px;
	border-radius: 10px;
	background: #9043a1;
}
div#kategoriler ul {
	padding: 5px;
}
div#kategoriler ul li{
	font-size: 12pt;
	padding: 5px;
	display: block;
}
div#kategoriler ul  li a {
	color: #E0EF60;
	font-weight: bold;
	text-decoration: none;
}
div#kategoriler ul li a:hover {
	color: #EEF7A6;
	text-decoration: underline;
}
div#urunler {
	padding: 5px;
}
div.urun {
        width: 152px;
	background: #B265C4;
	border-radius: 10px;
	color: #E0EF60;
	font-weight: bold;
	margin: 5px;
	display: inline-block;
}
div.urun  img{
	width: 150px;
	height: 150px;
	border-radius: 10px;
	border: 1px dashed #9043a1;
}
div.urun span.ad {
	margin: 5px;
	display: block;
	text-align: center;
}
div#alt{
font-weight:bold;
color:#E0EF60;
position: absolute;
background:#9043a1;
width:100%;
border-radius:10px;
bottom: 0px;
text-align:center;
padding: 10px 0;
}
span.copyright  {
vertical-align: center;
}

div.error, div.info, div.report, div.success, div.warning {

    font-family: Verdana, Arial;
    border: 1px solid;
	border-radius: 10px;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    display: block;
    margin-top:5px;
    width: 380px;
    position:relative;
    top:0;
    left:0;
}

div.info {

    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('../resimler/info.png');


}
div.success {

    color: #009900;
    background-color: #C2FF99;
    background-image: url('../resimler/success.png');

}
div.report {

    color: #8D24BB;
    background-color: #C4B2CC;
    background-image:url('../resimler/report.png');

}

div.warning {

    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../resimler/warning.png');

}
div.error  {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../resimler/error.png');

}
.info table,.info tr, .info td  {
    border: none;
    background-color: #BDE5F8;
}
.warning table,.warning tr,.warning td {
    border: none;
    background-color: #FEEFB3;
}
.error table, .error tr, .error td {
    border: none;
    background-color: #FFBABA;
}
.report table,.report tr,.report td {
    border: none;
    background-color: #C4B2CC;
}
.success table, .success tr, .success td {
    border: none;
    background-color: #C2FF99;
}
